---
all:
  hosts:
    <label-for-your-target-host-goes-here>:
      ansible_host: <ip or fqdn of target>
      # On the target, run as this user
      #regular_user: "{{ lookup('env', 'USER') }}"
      regular_user: <username>
      # On the target, use this workspace for files
      workspace: "/home/{{ regular_user  }}/manila-kube-workspace"
      # For Fedora 31 or higher until we can use podman for kind
      yes_I_really_reverted_to_cgroup_v1: True
      # Experimental Rook-Ceph Cluster
      deploy_rook_ceph_cluster: False
    <label-for-next-target-host>:
      ... and so on ...
  vars:
    home: "{{ lookup('env', 'HOME') }}"
    pubkey_path: "{{ home }}/.ssh/id_rsa.pub"
    pubkey: "{{ lookup('file', '{{ pubkey_path }}') }}"

